# Data etc
tmp_data/
logs/
src_data/
profiling/
tmp_data*/
.ipynb_checkpoints/
sql_scripts/
schemas/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Keys
bSETL-83cba3f29177.json

